## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=11
print(a)

11

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
name_1='Javier'

5) Crear una variable que contenga un número complejo

In [6]:
imagine=4+7j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
print(type(name_1))

<class 'str'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [10]:
pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
a = True
b = 'True'

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [12]:
print(type(a), type(b))

<class 'bool'> <class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
cuki=8+2.5
print(cuki)

10.5

11) Realizar una operación de suma de números complejos

In [18]:
num_1=6+7j
num_2=4+3j
print(num_1+num_2)

(10+10j)

12) Realizar una operación de suma de un número real y otro complejo

In [19]:
a=10
b=3+11j
print(a+b)

(13+11j)

13) Realizar una operación de multiplicación

In [20]:
t=4
pp=5
print(t*pp)

20

14) Mostrar el resultado de elevar 2 a la octava potencia

In [21]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [22]:
cociente=27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [23]:
print(int(cociente))

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [26]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [27]:
print(4*6+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [28]:
'esta '+'es '+'la consigna'

'esta es la conigna'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [29]:
'2'==2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [30]:
int('2')==2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [32]:
# porque el valor 3,8 debe escribirse con punto
a = float(3.8)

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [39]:
w=3
w-=1
print(w)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [40]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [42]:
2+'2' # No esta permitido porque son dos tipos de variables diferentes, int y str respectivamente

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
2+2 # en este caso son variables del mismo tipo 
'texto_1 '+'texto_2' #en este caso son str

'texto_1 texto_2'

26) Realizar una operación válida entre valores de tipo entero y string

In [49]:
str(17/3) + ' ejemplo texto'

'5.666666666666667 ejemplo texto'